.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 15%;
}

.sidenav .mat-toolbar {
  background: #78044c;
  color: white;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 9999;
  background-color: rgba(255, 255, 255);
  color: #78044c;
}

.icon {
  height: 20px;
  margin-right: 10px;
  vertical-align: middle;
}

.text {
  vertical-align: middle;
}

.footer .mat-toolbar {
  background: #78044C;
  color: white;
  margin-left: 15%;
  width: 85%;
  font-size: small;
  height: 200px;
}

.example-spacer {
  flex: 1 1 auto;
}