<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Projekt Raum</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/home">
        <img src="../../../assets/icons/map.png" alt="Map" class="icon" />
        <span class="text">Map</span>
      </a>
      <a mat-list-item routerLink="/projects">
        <img src="../../../assets/icons/projects.png" alt="Projects" class="icon" />
        <span class="text">Building Projects</span>
      </a>
      <a mat-list-item routerLink="/infos">
        <img src="../../../assets/icons/info.png" alt="Info" class="icon" />
        <span class="text">Infos</span>
      </a>
      <a mat-list-item routerLink="/news">
        <img src="../../../assets/icons/news.png" alt="News" class="icon" />
        <span class="text">News</span>
      </a>
      <a mat-list-item routerLink="/feedback">
        <img
          src="../../../assets/icons/feedback.png"
          alt="Feecback"
          class="icon"
        />
        <span class="text">Feedback</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Campus Explorer</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<footer class="footer">
    <mat-toolbar color="primary">
        <p>
          Ostschweizer Fachhochschule <br>
          Oberseestrasse 10 <br>
          8640 Rapperswil <br>
          info@ost.ch <br>
        </p>
    </mat-toolbar>
</footer>