<div class="dialog-content">
<h1 mat-dialog-title>Gebäude Seitenansicht</h1>
<div mat-dialog-content [ngSwitch]="data.name" class="dialog-content">
  <h1>TEST {{data.name}}</h1>
  <img *ngSwitchCase="1" src="../../../assets/images/dialogImages/test-building-8.png" alt="Image1">
  <img *ngSwitchCase="2" src="../../../assets/images/dialogImages/building-8-north.jpeg" alt="Image2">
  <!-- Repeat for each case up to 8 
  <img *ngSwitchCase="3" src="../../../assets/images/dialogImages/test-building-8.png" alt="Image1">
  <img *ngSwitchCase="4" src="../../../assets/images/dialogImages/test-building-8.png" alt="Image1"> -->
  <img *ngSwitchCase="5" src="../../../assets/images/dialogImages/building2.jpeg" alt="Image5">
  <img *ngSwitchCase="6" src="../../../assets/images/dialogImages/building-1.jpeg" alt="Image6">
  <img *ngSwitchDefault src="path/to/defaultImage.jpg" alt="Default Image">

  <button mat-button (click)="onNoClick()" id="close-button">Close</button>
</div>
</div>
