<mat-accordion>
  <mat-expansion-panel tag="b1">
    <mat-expansion-panel-header>
      Gebäude 1 - Schulgebäude Mitte
    </mat-expansion-panel-header>
    <p>Hier kommt mein Text</p>
    <!-- This displays the content for each building -->
  </mat-expansion-panel>
  <mat-expansion-panel tag="b2">
    <mat-expansion-panel-header>
      Gebäude 2 - Laborgebäude
    </mat-expansion-panel-header>
    <p>Hier kommt mein Text</p>
    <!-- This displays the content for each building -->
  </mat-expansion-panel>
  <mat-expansion-panel tag="b3">
    <mat-expansion-panel-header>
      Gebäude 3 - Hörsaalgebäude
    </mat-expansion-panel-header>
    <p>Hier kommt mein Text</p>
    <!-- This displays the content for each building -->
  </mat-expansion-panel>
  <mat-expansion-panel tag="b4">
    <mat-expansion-panel-header>
      Gebäude 4 - Verwaltungsgebäude
    </mat-expansion-panel-header>
    <p>Hier kommt mein Text</p>
    <!-- This displays the content for each building -->
  </mat-expansion-panel>
  <mat-expansion-panel tag="b5">
    <mat-expansion-panel-header>
      Gebäude 5 - Foyergebäude
    </mat-expansion-panel-header>
    <p>Hier kommt mein Text</p>
    <!-- This displays the content for each building -->
  </mat-expansion-panel>
  <mat-expansion-panel tag="b6">
    <mat-expansion-panel-header>
      Gebäude 6 - Schulgebäude See
    </mat-expansion-panel-header>
    <p>Hier kommt mein Text</p>
    <!-- This displays the content for each building -->
  </mat-expansion-panel>
  <mat-expansion-panel tag="b8">
    <mat-expansion-panel-header>
      Gebäude 8 - Forschungszentrum
    </mat-expansion-panel-header>
    <table>
      <tr>
        <td>
          <img src="assets/images/building-8.jpeg" class="round">
          <p>Herzlich willkommen am Gebäude 8, das jüngste in Rapperswill! Hier gibt es einiges zu entdecken und zu snacken (wir sagen nur ✨Forschungsbar✨): im Gebäude wird eine Menge geforscht, gelehrt und besprochen. Verschiedene Institute finden hier ihren Platz – unter anderem das Institut für Software oder auch das Institut für Produktdesign, Entwicklung und Konstruktion. Mehr zu den Forschungsprojekten der Institute gibt’s auf einem Rundgang durch die Flure des Gebäudes. Auch einige Studierende, zum Beispiel dem Bachelor Bauingenierwesen oder dem Master Civil Engineering haben Teile ihrer Lehre in Gebäude 8. Auch zu ihnen erfahren wir auf unserem digitalen Rundweg noch ein wenig mehr.</p>
        </td>
      </tr>
      <tr>
        <td>
          <h2>Umbebung</h2>
          <img src="assets/images/bistro.jpeg" class="round">
          <p><b>Forschungsbar mit Terasse</b><br>
          Die Forschungsbar bietet Platz für ein gemeinsames Essen, zum Pause-machen auf der Terrasse und zum Treffen von anderen Personen. Von April bis September gibt es jeweils von 10.30 bis 14.00 feine Gerichte zur Stärkung für die Mittagspause. </p>
        </td>
      </tr>
      <tr>
        <p><b>Weg zum See</b><br>
        Hier geht’s direkt zum Seeweg – die OST Rapperswil liegt direkt am Zürichsee und schafft dadurch viele Möglichkeiten zum Sport- und Pause machen: eine Runde schwimmen, ein Snack an den Ufern des Sees oder ein Spaziergang entlang des Seedamms.  
    
        P.S. Hier finden sich auch feinste Wanderwege, eine kleine Empfehlung gibt’s hier: https://schweizmobil.ch/de/wanderland/route-849  </p>
      </tr>
      <tr>
        <p><b>Mikro-Wald als Experimentierfeld</b><br>
        Direkt am Platz befindet sich ein Mikro-Wald: hier lassen Studierende der Landschaftsarchitektur einen Miyawaki-Wald entstehen – ein autarkes Ökosystem auf kleinstem Raum. Dieser Mikro-Wald soll jedoch nicht nur wichtige ökologische Funktionen erfüllen, sondern gleichermassen als Lern-, Beobachtungs- und Experimentierfläche für verschiedene Disziplinien zur Verfügung stehen. Merh über den Wald kannst du bei einem Spaziergang vorbei erfahren. Das lohnt sich! </p>
      </tr>
      <tr>
        <p><b>Platz vor dem Gebäude 8</b><br>
        Der Platz vor Gebäude 8 lädt ein als Treffpunkt und ist gleichzeitig Begegnungsraum. Auf dem öffentlichen Platz gibt es manchmal einiges zu entdecken, zum Beispiel den Office Caravan, der hier im Oktober 2023 Halt gemacht hat. Schau doch gerne nochmal vorbei, wer weiß welche Entdeckungen es hier in den nächsten Wochen gibt.  
    
        Und wenn dich der Office caravan auch schon ganz neugierig gemacht hat, dann empfehlen wir einen Klick hier: https://officecaravan.ch/ 
    
        Und vielleicht findest du ja auch deine kleine Office-Umgebung zum Lernen oder Arbeiten an der OST in Raperswill.  </p>
      </tr>
    </table>
      <hr>
      <h2>Stockwerkinformationen</h2>
      <p><b>Erdgeschoss</b><br></p>
        <ul>
          <li>Seminarräume</li>
          <li>Sitzungszimmer</li>
          <li>Unterrichtsräume</li>
          <li>WC</li>
        </ul>
      <p><b>Erdgeschoss</b><br></p>
        <ul>
          <li>Büros</li>
          <li>UMTEC</li>
          <li>ILT</li>
          <li>Sitzungszimmer</li>
          <li>Bistro</li>
          <li>Treppe</li>
          <li>Lift</li>
          <li>Unterrichtsraum</li>
        </ul>
      <p><b>1. Obergeschoss</b><br></p>
      <ul>
        <li>Büros</li>
        <li>ILT</li>
        <li>IET</li>
        <li>SPF</li>
        <li>Seminarraum</li>
        <li>Sitzungszimmer</li>
      </ul>
      <p><b>2. Obergeschoss</b><br></p>
      <ul>
        <li>Büros</li>
        <li>IBU</li>
        <li>IMES</li>
        <li>IPEK</li>
        <li>IFS</li>
        <li>INS</li>
        <li>Sitzungszimmer</li>
        <li>WC</li>
      </ul>
      
      <hr>
      <h2>Institute</h2>
      <h3>UMTEC - Institut für Umwelt- und Verfahrenstechnik</h3>
      <h3>ILT - Institute for Lab Automation and Mechatronics</h3>
      <h3>IET - Institut für Energietechnik</h3>
      <h3>SPF - Institut für Solartechnik</h3>
      <h3>IBU - Institut für Bau und Umwelt</h3>
      <h3>IMES - Institut für Mikroelektronik und Embedded Systems</h3>
      <h3>IPEK - Institut für Produktdesign, Entwicklung und Kosntruktion</h3>
      <h3>IFS - Institut für Software</h3>
      <h3>INS - Institut für Netzwerke und Sicherheit</h3>
  </mat-expansion-panel>
</mat-accordion>

<button (click)="expandBuildingByTag('b3')">B3</button>