p {
    float: justify;
}

.round { 
    width: 300px; 
    height: 300px; 
    border-radius: 50%; 
    text-align: center; 
    font-size: 30px; 
    float: right; 
    font-weight: bold;
    margin: 50px;
    
    /* Change the shape according 
        to the image */ 
    shape-outside: circle(); 
    background-color: Green; 
    color: white; 
}


.content-cell {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 10px;
}

.content-cell img {
    width: 300px; /* Adjust as needed */
    height: auto;
    border-radius: 50%;
    margin-right: 20px; /* Space between image and text */
}

.content-cell p {
    text-align: justify;
}