<div class="grid-container">
  <h1 class="mat-h1">Informationen</h1>
  <!-- <app-osm-building></app-osm-building> -->
  <!-- <app-leaflet></app-leaflet> -->
  <!-- <app-my-map></app-my-map> -->
  <!-- <app-map></app-map> -->
  Die Ostschweizer Fachhochschule (OST) vereint seit dem 1. September 2020 die bewährten Hochschulen FHS St.Gallen, HSR Rapperswil und NTB Buchs zu einer neuen, starken Fachhochschule in der Ostschweiz. Wir sind eine dynamische, innovative Hochschule, die mit zukunftsweisenden Impulsen die Ostschweiz stärkt und zur wirtschaftlichen und gesellschaftlichen Entwicklung unserer Region massgebend beiträgt.
  <br><br>
  <a href="https://www.ost.ch/de/die-ost">Weitere Informationen (OST Webseite)</a>
</div>
