.grid-container {
  position: relative;
  height: 100vh;
  margin: 20px;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100; /* Ensures it's above the iframe */
}

iframe {
  width: 100%; /* Full width of the container */
  height: 100%; /* Full height of the container */
  border: none; /* Removes the border */
}

