
<mat-accordion class="buildinginfo">
  <mat-expansion-panel tag="b9">
    <mat-expansion-panel-header>
      Bauprojekt Gebäude 9
    </mat-expansion-panel-header>
    <h2>Gebäude 9: Das Innovationszentrum</h2>
    <p>
      Wir freuen uns, das erste unserer drei neuen Campusgebäude vorzustellen: Das Innovationszentrum. Dieses Gebäude wird der Forschung und Entwicklung gewidmet sein und modernste Labore und Forschungseinrichtungen bieten. Es ist ein Ort, an dem Studierende und Dozenten zusammenkommen, um an zukunftsweisenden Projekten zu arbeiten.
    </p>
    <h3>Highlights des Innovationszentrums:</h3>
      <ul>
        <li>Hochmoderne Labore für Forschung in Naturwissenschaften und Technik</li>
        <li>Kollaborative Arbeitsbereiche zur Förderung interdisziplinärer Projekte</li>
        <li>Partnerschaften mit Industrie und Wirtschaft zur Unterstützung praxisorientierter Forschung</li>
      </ul>
    <img src="assets/images/building-9.png" style="width: 100%">
  </mat-expansion-panel>
  <mat-expansion-panel tag="b10">
    <mat-expansion-panel-header>
      Bauprojekt Gebäude 10
    </mat-expansion-panel-header>
    <h2>Gebäude 10: Das Kultur- und Bildungszentrum</h2>
    <p>
      Das zweite Gebäude ist unser Kultur- und Bildungszentrum. Es soll ein Treffpunkt für Studierende, Dozenten und die lokale Gemeinschaft sein und bietet Räumlichkeiten für kulturelle Veranstaltungen, Vorträge und Ausstellungen.
    </p>
    <h3>Highlights des Kultur- und Bildungszentrums:</h3>
      <ul>
        <li>Ein Auditorium für Konferenzen, Vorlesungen und kulturelle Veranstaltungen</li>
        <li>Galerieräume für Ausstellungen lokaler und internationaler Künstler</li>
        <li>Seminar- und Workshop-Räume für Bildungsprogramme und Gemeinschaftsprojekte</li>
      </ul>
    <img src="assets/images/building-10.png" style="width: 100%">
  </mat-expansion-panel>
  <mat-expansion-panel tag="b11">
    <mat-expansion-panel-header>
      Bauprojekt Gebäude 11
    </mat-expansion-panel-header>
    <h2>Gebäude 11: Das Studierenden- und Gemeinschaftszentrum</h2>
    <p>
      Das dritte Gebäude konzentriert sich auf die Bedürfnisse und das Wohlbefinden der Studierenden sowie der umliegenden Gemeinde. Es beinhaltet Einrichtungen für Freizeit, Sport und soziale Interaktion.
    </p>
    <h3>Highlights des Studierenden- und Gemeinschaftszentrums:</h3>
      <ul>
        <li>Sportanlagen und Fitnesscenter für gesunde Lebensstile</li>
        <li>Cafés und soziale Treffpunkte zur Förderung der Gemeinschaft</li>
        <li>Beratungszentren und Unterstützungsdienste für Studierende und Anwohner</li>
      </ul>
    <img src="assets/images/building-11.png" style="width: 100%">
  </mat-expansion-panel>
  <mat-expansion-panel tag="test">
    <mat-expansion-panel-header>
      Neue Campus Gebäude - Übersicht
    </mat-expansion-panel-header>
    <p>
      Wir freuen uns, Ihnen mitteilen zu können, dass unser Fachhochschul-Campus um drei weitere Gebäude bereichert wird. Dies ist nicht nur ein Zeichen für das Wachstum und den Fortschritt unserer Einrichtung, sondern bietet auch zahlreiche Vorteile für die gesamte Gemeinschaft.
    </p>
    <h2>
      Erweiterte Lernmöglichkeiten
    </h2>
    <p>
      Mit den neuen Gebäuden erweitern wir unser Kursangebot und stellen zusätzliche Ressourcen zur Verfügung. Moderne Klassenzimmer und Labore werden mit der neuesten Technologie ausgestattet, um den Studierenden ein optimales Lernumfeld zu bieten.
      </p>
      <h2>
        Offener Raum für alle
      </h2>
      <p>
        Die neuen Komplexe werden über öffentlich zugängliche Bereiche verfügen, darunter eine Bibliothek, Lesezimmer und Grünflächen. Diese Einrichtungen stehen nicht nur den Studierenden, sondern auch der lokalen Bevölkerung offen. Wir fördern damit den Wissensaustausch und die Vernetzung zwischen Fachhochschule und Gemeinde.
      </p>
      <h2>
        Nachhaltigkeit im Vordergrund
      </h2>
      <p>
        Beim Bau der neuen Gebäude legen wir grossen Wert auf Umweltfreundlichkeit und Nachhaltigkeit. Mit Energieeffizienzmassnahmen und umweltfreundlichen Materialien tragen wir zum Schutz unserer Umwelt bei.
      </p>
      <h2>
        Kulturelle und wirtschaftliche Impulse
      </h2>
      <p>
        Die neuen Gebäude werden auch als Veranstaltungsort dienen, der kulturelle Aktivitäten wie Kunstausstellungen und Vortragsreihen beherbergen wird. Dies fördert nicht nur das kulturelle Leben auf dem Campus, sondern stärkt auch die lokale Wirtschaft durch zusätzlichen Besucherverkehr.
      </p>
      <p>
        Wir sind überzeugt, dass die neuen Räumlichkeiten einen Meilenstein für unsere Fachhochschule und die umliegende Gemeinschaft sein werden. Sie symbolisieren unser Engagement für Bildung, Innovation und die enge Verbindung zur Gemeinde. Wir laden Sie herzlich ein, Teil dieser spannenden Entwicklung zu sein und freuen uns auf die vielen positiven Veränderungen, die dieses Projekt mit sich bringen wird.
  
        Jedes dieser Gebäude repräsentiert einen wichtigen Aspekt unseres Campuslebens und wird dazu beitragen, ein umfassendes, dynamisches und integratives Umfeld für alle zu schaffen. Wir sind begeistert von den vielfältigen Möglichkeiten, die diese Erweiterungen bieten, und laden die gesamte Gemeinschaft ein, an diesem aufregenden neuen Kapitel teilzuhaben.
      </p>
      </mat-expansion-panel>
</mat-accordion>