<mat-accordion>
  <mat-expansion-panel tag="p1">
    <mat-expansion-panel-header>
      Bauprojekt Gebäude 1
    </mat-expansion-panel-header>
    <p>Hier kommt mein Text</p>
    <!-- This displays the content for each building -->
  </mat-expansion-panel>
  <mat-expansion-panel tag="p2">
    <mat-expansion-panel-header>
      Bauprojekt Gebäude 6
    </mat-expansion-panel-header>
    <p>Hier kommt mein Text</p>
    <!-- This displays the content for each building -->
  </mat-expansion-panel>
  <mat-expansion-panel tag="p3">
    <mat-expansion-panel-header>
      Bauprojekt Spielplatz
    </mat-expansion-panel-header>
    <p>Hier kommt mein Text</p>
    <!-- This displays the content for each building -->
  </mat-expansion-panel>
</mat-accordion>