<mat-accordion>
  <mat-expansion-panel tag="b9">
    <mat-expansion-panel-header>
      Bauprojekt Gebäude 9
    </mat-expansion-panel-header>
    <p>Hier kommt mein Text</p>
    <!-- This displays the content for each building -->
  </mat-expansion-panel>
  <mat-expansion-panel tag="b10">
    <mat-expansion-panel-header>
      Bauprojekt Gebäude 10
    </mat-expansion-panel-header>
    <p>Hier kommt mein Text</p>
    <!-- This displays the content for each building -->
  </mat-expansion-panel>
  <mat-expansion-panel tag="b11">
    <mat-expansion-panel-header>
      Bauprojekt Gebäude 11
    </mat-expansion-panel-header>
    <p>Hier kommt mein Text</p>
    <!-- This displays the content for each building -->
  </mat-expansion-panel>
</mat-accordion>